# /usr/lib/systemd/system/check_external_ip.timer
[Unit]
Description=Activates the external IP checker service every 2 minutes
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=1min
OnCalendar=*:0/2

[Install]
WantedBy=timers.target
