# /usr/lib/systemd/system/coturn-dyn-check-ip.service
[Unit]
Description=Checks the external IP and restarts coturn if changed

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/bin/coturn-dyn-check-ip.py
