# /usr/lib/systemd/system/coturn-dyndns.service
[Unit]
Description=STUN and TURN relay server for VoIP and WebRTC over DynDNS
After=network.target

[Service]
User=turnserver
Type=forking
EnvironmentFile=/tmp/external_ip
ExecStart=/usr/bin/turnserver -c /etc/turnserver/turnserver.conf -o -v --external-ip $EXTERNAL_IP

[Install]
WantedBy=multi-user.target
